input:invalid{
    border: 4px solid rgb(216, 11, 186);
    animation: shake 0.2s 2;
    background:linear-gradient( -45deg, rgb(215, 24, 24),green,blue,yellow);
        animation:anime 3.5s ease infinite;
        background-size:400% 400%;
}
@keyframes anime{
   25%{
      background-position: 0%, 100% ;
   }
   50%{
      background-position:0% ,100%;
   }
   100%{
      background-position:50%,0% ;
   }
}

@keyframes shake{
 25%{
    translate: 6px 0;
 }
 50%{
    translate: -6px 0;
 }
 100%{
    translate: 6px 0;
 }
}
body{
   background-image: url(images\ \(2\).jpg);
   background-repeat: no-repeat;background-size: cover;

   position: center;
   margin-top: 20%;
   margin-left: 70%;
   
}
